* {
  font-family: "JetBrainsMono Nerd Font", sans-serif;
  font-size: 13px;
  border: none;
  border-radius: 10px;
}

window#waybar {
  background: rgba(20, 20, 30, 0.6);
  /* backdrop-filter: blur(10px); */
  color: #ffffff;
}

/* Workspaces */
#workspaces button {
  padding: 4px 10px;
  margin: 3px;
  background: transparent;
  color: #aaa;
  border-radius: 8px;
}

#workspaces button.active {
  background: #89b4fa;
  color: #1e1e2e;
}

#workspaces button:hover {
  background: #313244;
  color: white;
}

/* Window title */
#window {
  color: #cdd6f4;
}

/* Clock */
#clock {
  background: #89b4fa;
  color: #1e1e2e;
  padding: 5px 12px;
  border-radius: 10px;
}

/* Right modules */
#cpu, #memory, #network, #pulseaudio, #battery, #custom-wifi, #custom-audio {
  background: #1e1e2e;
  padding: 5px 10px;
  margin: 3px;
  border-radius: 10px;
}
