* {
  font-family: JetBrainsMono Nerd Font;
  font-size: 13px;
  border: none;
}

window#waybar {
  background: rgba(20, 20, 20, 0.6);
  border-radius: 12px;
  transition: all 0.3s ease;
}

/* módulos gerais */
#workspaces,
#clock,
#network,
#pulseaudio,
#cpu,
#memory,
#battery,
#custom-spotify {
  padding: 6px 12px;
  margin: 4px;
  border-radius: 10px;
  background: rgba(40, 40, 40, 0.6);
  transition: all 0.25s ease;
}

/* hover animação */
#workspaces button:hover,
#network:hover,
#pulseaudio:hover,
#cpu:hover,
#memory:hover,
#battery:hover,
#custom-spotify:hover {
  background: rgba(80, 80, 80, 0.8);
  /* transform: scale(1.05); */
}

/* workspace ativo */
#workspaces button.active {
  background: #89b4fa;
  color: #1e1e2e;
}

/* clock destaque */
#clock {
  font-weight: bold;
  font-size: 14px;
}

/* spotify cor */
#custom-spotify {
  color: #1db954;
}