* {
  font-family: "JetBrainsMono Nerd Font", sans-serif;
  font-size: 13px;
  border: none;
  border-radius: 10px;
  margin: 0;
  padding: 0;
  min-height: 0;
}

.modules-center {
  background: #1e1e2e;
  padding: 6px 12px;
  border-radius: 28px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
}

window#waybar {
  background: transparent;
  /* backdrop-filter: blur(10px); */
  color: #ffffff;
}

/* Workspaces */
#workspaces button {
  padding: 0 6px;
  margin: 0 2px;
  background: transparent;
  color: #aaa;
  border-radius: 16px;
  transition: all 0.3 ease-in-out;
}

#workspaces button.active {
  background: linear-gradient(135deg, #f38ba8 0%, #fab387 50%, #f9e2af 100%);
  color: #1e1e2e;
  min-width: 40px;
  transition: all 0.3s ease-in-out;
}

#workspaces button:hover {
  background: #313244;
  color: white;
}

/* Window title */
#window {
  color: #cdd6f4;
}

/* Clock */
#clock {
  /* background: #89b4fa; */
  color: white;
  /* padding: 5px 12px; */
  /* border-radius: 10px; */
}

/* Right modules */
#cpu, #memory, #network, #pulseaudio, #battery, #custom-wifi, #custom-audio, #clock {
  background: #1e1e2e;
  padding: 0 8px;
  margin: 0 5px;
  border: none;
  border-radius: 10px;
}
